<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .container{
    max-width: 900 px;
    margin:0 auto;

}
.gallery{
  display:flex;
  flex-wrap: wrap;
}

.gallery-item{
  position: relative;
  flex:1 0 25%;
  margin:10px;
  cursor: pointer;
}
</style>
</head>
<body>

<h2>Image Gallery</h2>
<div class="container">


<!--First Row-->
<div class=" gallery">
  <div class="gallery-item">
    <img src="../static/img/01.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="gallery-item">
    <img src="../static/img/02.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="gallery-item">
    <img src="../static/img/03.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<!--Second Row-->
<div class="gallery">
  <div class="gallery-item">
    <img src="../static/img/04.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="gallery-item">
    <img src="../static/img/05.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="gallery-item">
    <img src="../static/img/06.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<!--Third Row-->
<div class="gallery">
  <div class="gallery-item">
    <img src="../static/img/01.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="gallery-item">
    <img src="../static/img/02.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="gallery-item">
    <img src="../static/img/03.jpg" alt="Mountains" style="width:100%">
  </div>
  <!--Fourth Row-->
<div class="gallery">
  <div class="gallery-item">
    <img src="../static/img/01.jpg" alt="Snow" style="width:100%">
  </div>
</div>


</div>
</body>
</html>
