<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="../static/css/mystyle.css">
</head>
<body>

<h2><center>Image Gallery</center></h2>

<div class="container">


<!--First Row-->
<div class="row">
  <div class="column">
    <img src="../static/img/01.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="../static/img/02.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="../static/img/03.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<!--Second Row-->
<div class="row">
  <div class="column">
    <img src="../static/img/04.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="../static/img/05.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="../static/img/06.jpg" alt="Mountains" style="width:100%">
  </div>
</div>
<!--Third Row-->
<div class="row">
  <div class="column">
    <img src="../static/img/01.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="../static/img/02.jpg" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="../static/img/03.jpg" alt="Mountains" style="width:100%">
  </div>
 


</div>
</body>
</html>
